<div class="container">
  <h1 class="headings">Registration Form</h1>
  {{registrationForm.value  | json}}
  <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let control of dynamicFormarray">
      <div class="form-group">
        
        <ng-template #userData>
            <label class="label">{{ control.Label }}</label>

            <ng-template #user>
                <input type="{{ control.Type }}" class="form-control" [formControlName]="control.ID" />
                <div *ngIf="registrationForm.get(control.ID)?.dirty || registrationForm.get(control.ID)?.touched">
                  <small class="text-danger" *ngIf="!registrationForm.get(control.ID)?.valid">UserName is required</small>
                </div>
            </ng-template>
            
            <select *ngIf="control.Type === 'select'; else user" [formControlName]="control.ID">
              <option value="">Select Gender</option>
              <option *ngFor="let gender of control.Value" [value]="gender">{{ gender }}</option>
            </select>
            
            <div *ngIf="registrationForm.get(control.ID)?.touched || registrationForm.get(control.ID)?.dirty">
              <small class="text-danger" *ngIf="registrationForm.get(control.ID)?.errors?.['required']">
                Please select a gender.
              </small>
            </div>   
        </ng-template>

        <div *ngIf="control.Type == 'checkbox'; else userData">
            <input type="checkbox" id="interested" name="interested" value="interested" [formControlName]="control.ID" checked="false"/>
            <label class="label" for="interested">{{ control.Label }}</label>
        </div>
        
      </div>
    </div>
    <button class="btn mt-3 btn-success" type="submit">Submit</button>
  </form>
</div>
